In [1]:
import math

In [6]:
'''Problem Set 0 - ECON 387
Find the type of the following variables'''

x=2
print(type(x))

x=2.0
print(type(x))

x="2.0"
print(type(x))

x= 2 + 0j
print(type(x))

x = "2 + 0j"
print(type(x))

x = math.pi
print(type(x))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>
<class 'str'>
<class 'float'>

In [12]:
'''Generate the following string variable, s = "Python has a nice syntax"'''
s = "Python has a nice syntax"

'Compute the number of characters in s'
print(len(s))

'Slice s to obtain the substring "syntax" '
print(s[18:])

'Find the first occurance of "a" in s'
print(s.find('a'))

'Replace all occurences of "a" in s to "A" '
print(s.replace("a", "A"))

'''Add the following string to s, "But, Stata's is counterintuitive". '''
s = s + "But, Stat's is counterintuitive"

24
syntax
8
Python hAs A nice syntAx

In [20]:
'Generate the following list, y = [[1, math.pi, 0,7,8], ["abc", bool(0), -3, 12]]'
y = [[1, math.pi, 0,7,8], ["abc", bool(0), -3, 12]]

'Reversing the first list in y using a reverse method'
y = [y[0][::-1], y[1]]
print(y)

'Replace bool(0) to bool(1) in the second list in y'
y[1][1] = bool(1)

'Drop pi from the first list in y'
y[0].pop(3)
print(y)

'Add [math.pi, math.e, 3-1j, False] to y'
y.extend([[math.pi, math.e, 3-1j, False]])
print(y)

[[8, 7, 0, 3.141592653589793, 1], ['abc', False, -3, 12]]
[[8, 7, 0, 1], ['abc', True, -3, 12]]
[[8, 7, 0, 1], ['abc', True, -3, 12], [3.141592653589793, 2.718281828459045, (3-1j), False]]

In [25]:
'Let z be equal to y in 2(d), z = y'
z = y
print(z)

'Replace z[2][0] to True. What happened to y?'
z[2][0] = True
print(y)
print(z)
'the y value changed into a true boolean instead of pi. This is called regeneration of y'

'''How should we generate z so that the definition of y is not affected? (Note that
the copy method will not work here'''
import copy
z = copy.deepcopy(y)
z[2][0] = True

[[8, 7, 0, 1], ['abc', True, -3, 12], [True, 2.718281828459045, (3-1j), False]]
[[8, 7, 0, 1], ['abc', True, -3, 12], [True, 2.718281828459045, (3-1j), False]]
[[8, 7, 0, 1], ['abc', True, -3, 12], [True, 2.718281828459045, (3-1j), False]]

In [29]:
'''Generate a dictionary named student with the following keys: "name", "age",
"courses", "phone" and corresponding values "Jane", 22, ["MATH131", "ANTH201"],
"555-788-5544". '''
student = {'name':'Jane', 'age':22, 'courses':['MATH131', 'ANTH201'], 'phone':'555-788-5544'}
print(student)

'Print students phone'
print(student.get('phone'))

'''Update student's age to 24 and courses to ["MATH131","ANTH201","ECO387"] '''
student.update({'age':24, 'courses':["MATH131", "ANTH201", "ECO387"]})

'Drop the phone number from the dictionary'
del student['phone']

''' Generate a new string variable named courses from the values in the courses
such that course names are seprated by "-", and now print it.'''
courses = ' - '.join(student['courses'])
print("Courses: " + courses)

{'name': 'Jane', 'age': 22, 'courses': ['MATH131', 'ANTH201'], 'phone': '555-788-5544'}
555-788-5544
Courses: MATH131 - ANTH201 - ECO387

In [38]:
'''Generate an empty set named w1'''
w1 = set()

'Add the following elements to w1: {2,4,6,...,100}'
w1.update(range(2,100,2))

'Generate a new set w1 with the elements {-100, -98,...,98, 100}'
w2 = set()
w2.update(range(-100,100,2))

'Find the number of elements in the intersection of w1 and w2'
len(w2.intersection(w1))

'Find the number of elements in the set difference between w2 and w1'
len(w2.difference(w1))

51